<!DOCTYPE html>
<html lang="fr">
<head>
    <!--  our web site -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

    <meta property="og:title" content=">###PageTitle###"/>
    <meta property="og:url" content="http://www.ophtalmo.com/"/>
    <meta property="og:image" content="http://www.ophtalmo.com/pictures/card.jpg"/>
    <meta property="og:description"
          content="Ophtalmo.com | L'annuaire des spécialistes de la vision près de chez vous."/>
    <meta property="og:locale" content="fr_FR"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://www.ophtalmo.com/">
    <meta name="twitter:title" content=">RDVOphtalmo">
    <meta name="twitter:description"
          content="Ophtalmo.com | L'annuaire des spécialistes de la vision près de chez vous.">
    <meta name="twitter:image" content="http://www.ophtalmo.com/pictures/card.jpg">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- fontes -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- other element -->
    <meta charset="UTF-8"/>
    <title>{% block title %}###PageTitle###{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/rdvfrontend/css/bootstrap.css') }}" rel="stylesheet">
        <!-- ophtalmo -->
        <link href="{{ asset('bundles/rdvfrontend/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    <div id="bar">
        <div id="leftbar" class="leftbar">
        </div>
        <div id="logobar">
            <img id="logo" src="{{ asset('bundles/rdvfrontend/pictures/logo.png') }}">
        </div>
        <div id="rightbar">



            <div class="col-md-12">
             {% if  app.user %}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                <i class="glyphicon glyphicon-user"></i> {{ app.user.prenom|upper }} <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-lock"></i> Me déconnecter</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i>  FAQ Patient</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i>  FAQ Opticien</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i>  FAQ praticien</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div id="Utilisateur">
                    <a class="btn btn-info btn-responsive btn-space btnuser" href="{{ path("rdv_front_end_patient") }}">Patient </a>
                    <a class="btn btn-info btn-responsive btn-space btnuser" href="{{ path("rdv_front_end_opticien") }}">Opticien</a>
                    <a class="btn btn-info btn-responsive btn-space btnuser" href="{{ path("rdv_front_end_professionnel") }}">Professionnel</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="content">
        <hr>
        {% block body %}

        {% endblock %}

    </div>

{% endblock %}

{% block footer %}
   <footer class="footer">
       <br>
       <br>
       <br>
       <center>
       FOOTER
       </center>
       <br>
       <br>
       <br>
   </footer>
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1KMbKy1QGsdZEOMmZuIre1IRCsiN7N_s&signed_in=true&libraries=places&callback=initAutocomplete"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/jquery-3.1.1.min.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/bootstrap-slider.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/ophtalmocom.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/autoComp.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/cookie.js") }}"></script>
    <script src="{{ asset("bundles/rdvfrontend/js/jquery.cookie.js") }}"></script>

{% endblock %}
</body>

</html>
